/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}
body {
	background: #fff;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

.clear {
	clear:					both;
}

input[type="submit"]
{
	cursor:	pointer;
}

/* User Stylesheet */

html {
	height: 100%;
}

a {
	color: #4183c4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	background: #ddd;
	font-size: 14px;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	color: #555;
	min-height: 82.6%;
	border-bottom: 10px solid #4183c4;
}

div.wrapper {

	width: 1000px;
	background: #fff;
	box-shadow: 1px 1px 5px #999;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 60px;
}

div.wrapper h1 {
	display: block;
	background: #4183c4;
	color: #fff;
	font-size: 25px;
	padding: 5px;
}

div.wrapper div.content {
	padding: 10px;
	line-height: 20px;
	width: 700px;
	float: left;
	padding-left: 20px;
}

div.wrapper div.content h2 {
	font-size: 20px;
	color: #4183c4;
	margin-bottom: 10px;
}

div.wrapper div.content p {
	margin-bottom: 10px;
}

div.wrapper div.nav {
	float: left;
	/*background: #4183c4;*/
	padding: 10px;
	line-height: 20px;
	margin-top: 10px;
	margin-left: 30px;
}

div.wrapper div.nav li {
	margin-bottom: 10px;
}

div.wrapper div.nav li:last-child {
	margin-bottom: 0px;
}

div.wrapper div.nav  li a {
	display: block;
	padding: 10px;
	border-radius: 5px;
}

div.wrapper div.nav a:hover {
	text-decoration: none;
}
